.welcome {
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
}

.welcome-link {
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.loginButton {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}